button{
    text-transform: uppercase;
    width: 164px;
    outline: none;
}
.btnAdmin{
    width: 82px;
}
.btnMenu{
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    border-radius: 0;
    width: 60%;
    font-size: 30px;
}
.btnDishes{
    padding-bottom: 16px;
    font-size: 20px;
}

.bi-caret-right-fill{
    color:#fff;
    font-size: 11px;
    margin-top: 23px;
}
.btnAddItem{
    font-weight:600;
}
