.container{
    max-width:1024px;
    height:100vh;
}
.menuContainer, .adminContainer{
    background-image: url(./images/menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.containerAdmin{
    position: absolute;
    height:100vh;
    width:100%;
    background-color: #fff;
    padding:16px;
}
.close.w-100.text-right.pt-2.text-black.closeMenu{
    color:#fff;
    opacity:1;
    right:10px;
    font-size: 30px;
}
.menuClose{
    position: absolute;
    color: #fff;
    background: transparent;
    border: none;
    right: 20px;
    width: 24px;
    font-size: 35px;
}

