.container{
    max-width:1024px;
    height:100vh;
    background-image: url(./images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapperMenu{
    height:calc(100% - 62px);
}
.btnSize{
    width:164px;
}