.arrowBack{
    color:#121212;
}
.jumbotron{
    padding:0;
    background-color: transparent;
}
.modal-dialog{
    margin:0;
}
.close{
    position: absolute;
    right: 5px;
    font-size: 40px;
    background: azure;
    color: currentColor;
    height: 44px;
    top: 5px;
}
.OrderContainer{
    max-width:1024px;
    height:auto;
    background-image: url(../Home/images/home2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.OrderContainer p{
    margin: 0;
    padding-bottom: 25px;
    padding-left: 12px;
    font-weight: 600;
   
}
