.arrowBack{
    color:#121212;
}
.jumbotron{
    padding:0;
    background-color: transparent;
}
.modal-dialog{
    margin:0;
}
.close{
    position: absolute;
    right: 5px;
    font-size: 40px;
    background: transparent;
    color: brown;
    height: 44px;
    top: 5px;
}
.OrderContainer{
    max-width:1024px;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;
    }
.OrderContainer .orderText{
    margin: 0 10px;
    padding-bottom: 25px;
}   
.OrderContainerStarters{
    background-image: url(./images/starters.jpg);
}
.OrderContainerStarters .orderText{
    color: #000;
    
}
.OrderContainer span{
    margin: 0;
    font-weight: 600;
    font-size: large;

}
.OrderContainerMaincourses{
    background-image: url(./images/starters.jpg);
}
.OrderContainerMaincourses .orderText {
    color: #000;
}
.orderImg{
    max-width: 90px;
    max-height: 90px;
    margin-right:10px;
}
.OrderContainerDesserts{
    background-image: url(./images/desserts.jpg);
}
.OrderContainerDesserts span{
    color:#fff;
    font-weight: 300;
}

.OrderContainerDrinks{
    background-image: url(./images/drinks.jpg);
}
.OrderContainerDrinks span{
    color:#000;
    font-weight: 700;
}
.closeDessert{
    color:#000;
}
.OrderContainerDrinks .colorMainTitle{
    color: #000
}
.orderText{
    margin-bottom:25px;
}